
.banniere-gauche {
    top: 50%; 
    left: 10; 
    background-color: #0C005F; 
    color: white; 
    padding: 20px 40px; 
    width: 400px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5); 
    border-radius: 10px;
    text-align: left; 
}

.texte-banniere {
    font-size: 18px; 
    line-height: 1.6;
    font-family: Arial, sans-serif;
    text-indent: 20px;
}

.banniere-droite {
    position: relative; 
    float: right;
    margin-left: auto;
    margin-top: -360px; 
    background-color: #0C005F; 
    color: white; 
    padding: 20px 40px; 
    width: 400px; 
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5); 
    border-radius: 10px; 
    text-align: left; 
}



